* {
    --primary-color: #1E2D24;
    --secondary-color: #1f0d03;
    --accent-color1: #AEB7B3;
    --accent-color2: #7E6551;
    font-family: "Felipa", serif;
    padding: 0;
    margin: 0;
}

#book-container {
    display: grid;

}

.book-card, .reader-card{
    margin: 1rem 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: var(--accent-color2);
    color: white;
    text-align: center;
    max-width: 300px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "cover"
    "title"
    "author"
    "genre"
    "description";
}

.book-card h3, .reader-card h3 {
    grid-area: title;
    padding: 10px;
}

.book-card img {
    grid-area: cover;
    width: 200px;
    padding: 10px;
    justify-self: center;
}

.reader-card img {
    grid-area: cover;
    width: 100px;
    height: auto;
}

.genre {
    grid-area: genre;
    padding: 5px 10px;
}

.author {
    grid-area: author;
    padding: 5px 10px;
}

.description {
    grid-area: description;
    padding: 5px 10px;
    font-size: small;
}

#library-container {
    display: grid;
    justify-content: center;
}