@media screen and (min-width: 600px)
{
    .navigation li {
        display: contents;
    }
        
    #menu {
        display: none;
    }
        
    .navigation {
        display: flex;
        justify-content: right;
        align-items: center;
        list-style: none;
        width: 100%;
        max-width: fit-content;
    }
        
    .navigation a {
        display: block;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }
        
    .navigation a:hover {
        color: rgb(59, 142, 243);
        text-decoration: none;
    }

    header {
        grid-template-columns: 24px auto 44px 24px;
    }

    .darkmode {
        order: 4;
    }

    .member-list {
        padding: 1rem;
    }

    .listing {
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    .social-media {
        align-self: center;
    }
}