* {
    margin: 0;
    padding: 0;
    font-family: "Advent Pro", sans-serif;
    --primary-color: rgb(10, 20, 109);
    --secondary-color: rgb(51, 51, 146);
}

header {
    padding: 10px;
    display: grid;
    grid-template-columns: 24px auto 24px 44px;
    background-color: var(--primary-color);
    color: white;
}

#menu {
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 44px;
}

#menu::before {
    content: "≡";
}

nav {
    color: rgb(255, 255, 255);
}

.navigation {
    list-style: none;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.navigation a:hover {
    color: rgb(59, 142, 243);
    text-decoration: none;
}

.navigation a.active {
    padding: 1rem 4rem;
    background-color: rgb(86, 82, 197);
    text-decoration: underline white;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

main {
    display: grid;
    grid-gap: 1rem;
}

footer {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
}

h1 {
    text-align: left;
    font-size: large;
    padding: 5px;
}