* {
    margin: 0;
    padding: 0;
    font-family: "Advent Pro", sans-serif;
    --primary-color: rgb(10, 20, 109);
    --secondary-color: rgb(51, 51, 146);
}

h2 {
    padding: 10px;
    text-align: left;
}

.card h3 {
    background-color: var(--secondary-color);
    padding: 5px;
    color: white;
}

header img {
    width: 24px;
}

div {
    position: relative;
}

main div img {
    width: 100%;
    height: auto;
    display: block;
}

.keynote {
    text-decoration: none;
    text-align: right;
    position: absolute;
    top: 75%;
    left: 75%;
    background-color: var(--secondary-color);
    border: 1px solid rgb(55, 55, 243);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.home {
    padding: 10px;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.card {
    background-color: rgb(136, 168, 236);
}

.weather h3 {
    grid-column: 1 / 3;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 30px 40px 50px 50px 50px;
}

.weather img {
    width: 50%;
    height: auto;
    grid-column: 1 / 2;
}

.weather p {
    padding: 0.3rem;
    grid-column: 2 / 3;
}

#condition {
    text-transform: capitalize;
}

.forecast p {
    text-align: center;
    padding: 0.5rem;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-media img {
    width: 40px;
    height: auto;
}

.member-card img {
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    width: 70%;
    height: auto;
    align-self: center;
}

.member-card h3 {
    text-align: center;
    font-size: x-large;
    grid-column: 1 / 3;
}

.member-card h4 {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0.5rem;
    grid-column: 1 / 3;
}

.member-card {
    background-color: rgb(136, 168, 236);
    border: 1px solid rgb(136, 168, 236);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 30px 40px 50px 50px 50px;
}

.member-card p {
    padding: 10px;
    grid-column: 2 / 3;
}

.member-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 1rem;
    grid-gap: 1rem;
}

.layout-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 10px;
}

.grid-button {
    text-decoration: none;
    text-align: center;
    background-color: var(--secondary-color);
    border: 1px solid rgb(55, 55, 243);
    padding: 5px 50px;
    border-radius: 5px;
    color: white;
}

.list-button {
    text-decoration: none;
    text-align: center;
    background-color: var(--secondary-color);
    border: 1px solid rgb(55, 55, 243);
    padding: 5px 50px;
    border-radius: 5px;
    color: white;
}