@media screen and (min-width: 320px)
{
    .navigation li {
        display: contents;
    }
        
    #menu {
        display: none;
    }

    nav { 
        background-color: rgb(13, 12, 39);
    }
        
    .navigation {
        display: flex;
        justify-content: right;
        align-items: center;
        list-style: none;
        background-color: rgb(13, 12, 39);
        width: 100%;
        max-width: fit-content;
    }
        
    .navigation a {
        display: block;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }
        
    .navigation a:hover {
        color: rgb(59, 142, 243);
        text-decoration: none;
    }

    .navigation a:active {
        background-color: rgb(34, 32, 100);
    }

    h1 {
        grid-column: 1 / 3;
    }

    .bottom {
        grid-column: 1 / 3;
    }
    
    .button li {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
}